<h1>Your password for <%= params[:service]%> is:</h1>
<h3 style="color:red;"><%= @decrypted_password %></h2>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              encpasswords_path, :class => 'btn'  %>