<p id="notice"><%= notice %></p>

<p>
  <b>Encrypted password:</b>
  <%= @password.encrypted_password %>
</p>


<%= link_to 'Edit', edit_password_path(@password) %> |
<%= link_to 'Back', passwords_path %>
