<!DOCTYPE html>
<html>
<head>
  <title>PassGenerator</title>
  <%= stylesheet_link_tag    "/css/bootstrap", :media => "all" %>
  <%= javascript_include_tag "/js/bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<div class="content">
<%= yield %>
	</div>
</div>
</body>
</html>
